{% extends 'layouts/base.html' %}

{% block content %}
<form method="post">
{% csrf_token %}
<label for="Currency"> currency: </label>
<select id="currency" name="currency">

    <option> Dollar </option>
    <option> Emirates Dirham </option>
    <option> Qatari Riyal    </option>
    <option> Chinese Yuan    </option>
    <option> Euro    </option>
    <option> Iraqi Dinar    </option>
    <option>Turkish lira        </option>
    <option> Egyptian Pound    </option>
    <option> Japanese Yen    </option>
    <option> Korean won </option>
    <option> Kuwaiti Dinar</option>
    <option> Bahraini Dinar</option>
    </select>
    <br>
    <label for="currency"> input currency </label><br>
    <input type="numeric" value="1.00">

    <br>

    <label for="currency"> output currency </label><br>
    <input type="numeric" value="0.27">

    <br>

    <button type="submit" >convert</button>
</form>
{% endblock %}
