{% extends 'layouts/base.html' %}
{% block title %} Exchange {% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="content">
		<label for="options"> currency: </label>
		<select id="options" name="options">
			<option selected disabled=true>--Select Currency--</option>
			<option> Dollar </option>
			<option> Emirates Dirham </option>
			<option> Qatari Riyal	</option>
			<option> Chinese Yuan	</option>
			<option> Euro	</option>
			<option> Iraqi Dinar	</option>
			<option>Hong Kong Dollar		</option>
			<option> Egyptian Pound	</option>
			<option> Japanese Yen	</option>
			<option> Korean won </option>
			<option> Kuwaiti Dinar</option>
			<option> Bahraini Dinar	</option>
		</select>
		<button type="submit" style="background-color:#d5e7e6;border-radius:5px;color:#0a062c;display:inline-block;font-size: 8px; font-family: monospace;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:35px;-webkit-text-size-adjust:none;">find</button>
</form>
<br>
<br>
<hr>
<br>
<caption>Currency exchange from into Riyal another:</caption>
<table>
<tr>
<th colspan="5">ONE Riyal</th>
</tr>
<tr>
<td><b>currency</b></td>
<td><b>Symbol</b></td>
<td><b>value</b></td>
<td><b>code</b></td>
<td><b>count</b></td>
</tr>
{% for currency in infos %}
<tr>
<td><b>{{ currency.curr }}</b></td>
<td>{{ currency.Symbol }}</td>
<td>{{ currency.value }}</td>
<td>{{ currency.curr_S }}</td>
<td>{{ currency.total_value }}</td>

</tr>
{% endfor %}
</table>
</div>
{% endblock %}