{% extends 'layouts/base.html' %}
{% block content %}

<div class="content">
<h3>Hello... Welcome to my Currency Converter project</h3>
<br>
<h5>Keep <ins>tracking</ins> my work!</h5>
<br>
<a  href="exchange" style="background-color:#d5e7e6;border-radius:5px;color:#0a062c;display:inline-block;font-size: 18px; font-family: monospace;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:175px;-webkit-text-size-adjust:none;">exchange today &rarr;</a>
<br>
<br>
<a  href="convert" style="background-color:#d5e7e6;border-radius:5px;color:#0a062c;display:inline-block;font-size: 18px; font-family: monospace;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:175px;-webkit-text-size-adjust:none;">Converter &rarr;</a>
</div
{% endblock %}